.personalDetails{
          font-size:20px;
}
.profileHeightWidth{
height:200px; width:200px;
}
.phone{
font-style:bold;
}
.address{
background -color:green;
          // this is me
          //this is you
